<div class="head">
    <h1>Products | <a href="/categories">Categories</a></h1>
</div>
@model Product
<form class="left" asp-action="InsertProduct" asp-controller="Home" method="POST">
    <h2>New Product</h2>
    <div class="row">
        <label asp-for="Name"></label>
        <input asp-for="Name" required>
    </div>
    <div class="row">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" required></textarea>
    </div>
    <div class="row">
        <label asp-for="Price"></label>
        <input asp-for="Price" type="number" min="0.01" step="0.01" required>
    </div>
    <div class="row">
        <input value="Create" type="submit">
    </div>
</form>
<div class="right">
    <h2>Existing Products</h2>
    <ul>
        @if (ViewBag.AllProducts != null)
        {
            @foreach (var p in ViewBag.AllProducts)
            {
                <li><a href="/products/@p.ProductId">@p.Name</a></li>
            }
        }
    </ul>
</div>